$medium-screen-up: 1025px !default;
$medium-screen: 1024px !default;

// bower:scss
@import "bower_components/Materialize/sass/materialize.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: black;
  padding: 0.2em 0;
}

#content {
    @extend .z-depth-5;
    @include flexbox();
    flex-direction: column;
}

#header, #body {
    @include flexbox();
}

#photo {
    @extend .z-depth-1;
    @extend .indigo, darken-4;
    z-index: 1;
    img {
        display: inherit;
        width: 256px;
        transition: all 200ms linear;
    }
}

#contact {
    flex: 1;
    @extend .blue, darken-4;
    color: white;
    padding: 0 10%;
    .name, .occupation {
        text-transform: uppercase;
    }
    .name {
        font-size: 3em;
    }
    .occupation {
        font-size: 1.2em;
    }
}

#skills {
    width: 256px;
    @extend .light-blue, accent-1
}

#details {
    flex: 1;
    padding: 0 40px;
    background: white;

    section {
        @extend .z-depth-1;
        padding: 40px;
    }
}

.detail {
    margin: 40px 0;
}

@media #{$large-and-up} {
    body {
        background: url(../images/bg.jpg);
        background-size: contain;
    }
    #content {
        margin-top: 5%;
        margin-bottom: 8%;
    }
}

@media #{$medium-and-down} {
    .container {
        min-height: 100vh;
        width: 100vw;
    }
    #body {
        flex: 1;
    }
}

@media #{$small-and-down} {
    #skills, #details {
        width: 100%;
    }
}

@media #{$small-and-down} and (orientation:portrait) {
    #header, #body {
        flex-direction: column;
    }

    #photo {
        height: 35vw;
        width: 100vw;
        img {
            width: 50vw;
            position: relative;
            left: 25%;
            top: 25%;
            border-radius: 50%;
        }
    }

    #contact {
        height: calc(100vh - 35vw);
        width: 100%;
        padding-top: 30vw;
    }
}

@media #{$small-and-down} and (orientation:landscape) {
    #body {
        flex-direction: column;
    }

    #photo {
        height: 100vh;
        width: 50vh;
        img {
            width: 50vh;
            position: relative;
            left: 50%;
            top: 25%;
            border-radius: 50%;
        }
    }

    #contact {
        text-align: right;
    }
}
