extends layouts/default

block content
    #content.container
        #header
            #photo
                img(src='images/photo.jpg')
            #contact
                h1.name Bruno Meneguello
                h3.occupation Desenvolvedor de Software
                address.social
                    .valign-wrapper
                        .soc
                            a.soc-linkedin(href='https://www.linkedin.com/in/bkmeneguello')
                        a.valign(href='https://www.linkedin.com/in/bkmeneguello') /bkmeneguello
                    .valign-wrapper(data-radius='0')
                        .soc
                            a.soc-github(href='https://github.com/bkmeneguello')
                        a.valign(href='https://github.com/bkmeneguello') /bkmeneguello
        #body
            #skills
                section
                    header Conhecimento
                section
                    header Habilidades
                section
                    header Idiomas
            #details
                section.detail
                    header Experiencia Profissonal
                section.detail
                    header Formação
                section.detail
                    header Interesses
