extends layouts/default

block content
    #content.container
        #header
            #photo
                img(src="images/photo.png")
            #contact
        #body
            #skills s
            #details
                section.detail
                    header d1
                section.detail
                    header d2
                section.detail
                    header d3
